<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSDemo</display-name>
  
  <!-- Register DispatcherServlet with Servlet Container -->
  <servlet>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<servlet-class>com.revature.web.DispatcherServlet</servlet-class>
  </servlet>
  
  <!-- Register URI's where DispatcherServlet will Listen -->
  <servlet-mapping>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>