.pokemon-info-toggle:hover {
    li {
        cursor: pointer;
        -webkit-box-shadow: inset 0px 0px 10px 1px #ff99cc;
        -moz-box-shadow: inset 0px 0px 10px 1px #ff99cc;
        box-shadow: inset 0px 0px 10px 1px #ff99cc;
    }
}