<form class="form-signin" (submit)="login()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">username</label>
    <input type="text" id="inputUsername" 
        name="input-username"
        class="form-control" 
        placeholder="username" 
        required autofocus
        [(ngModel)]="credentials.username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" 
        name="input-password"
        id="inputPassword" 
        class="form-control" 
        placeholder="Password" 
        required
        [(ngModel)]="credentials.password">
    <p id="error-message">{{errorMessage}}</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>

    <p>{{credentials.username}}</p>
    <p>{{credentials.password}}</p>
</form>
